.form {
    margin-top: 30px;
    margin-bottom: 50px;

    .input {
        width: 200px;
        margin-left: 400px;
        background: transparent;
        border: none;
        color: #5dc5e7;
        text-shadow: 1px 1px 10px #07075e;
        font-size: 25px;

    }

    .input:focus {
        outline: none;
    }

    ::placeholder {
        color: #5dc5e7;
    }
}

.info-city {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 40px;
    color: #5dc5e7;
    text-shadow: 1px 1px 10px #29293d;
    cursor: default;

    .info-city-img {
        height: 80px;
        width: 80px;
    }
}

.weather-list {
    display: flex;
    justify-content: space-between;
    height: 140px;
    background-color: rgb(219, 210, 210);
    border: 1px solid rgb(219, 210, 210);
    border-radius: 15px;
    -webkit-box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);

    .weather-list-item {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        align-items: center;
        width: 120px;
        font-size: 20px;
        color: #07075e;

        .weather-list-img {

            width: 60px;
            height: 60px;
        }
    }
}