.weather {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
    background-color: rgba(124, 129, 112, 0.527);
    border: 2px solid rgba(199, 201, 195, 0.527);
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.weather-clods {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
    border: 2px solid #2a1e94;
}