.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color:#9ad0e2;
    text-shadow:1px 1px 10px #29293d;
    font-size: 40px;
    cursor: default;
}